<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <div class="container ">
            <div class="nav-wrapper flex content-space ">
                <div class="left">
                    <h1>NETEL</h1>
                </div>
                <div class="right">
                    <a href="#">Home</a>
                    <a href="#">About  Us</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero">
        <div class="welcome">
            <h2 >Welcome to</h2>
            <h3 class="b">Onetel Design Studio</h3>
        </div>
        
    </div>
</header>
    <section>
    <div class="container">
        <div class="card-wrapper flex ">
            <div style="background-color:#C14000 ;" class="card">
                <img src="img/email.svg" alt="">
                <div class="card-content">
                    <h3>Responsive</h3>
                    <p>Metro City uses metro style grid layout section blocks for different contents.
                         This template incorporates Bootstrap v3.3.5 responsive.</p>
                </div>
            </div>
                <div style="background-color:#009987 ;" class="card">
                    <img src="img/email.svg" alt="">
                    <div class="card-content">
                        <h3>Easy to use</h3>
                        <p>Metro City uses metro style grid layout section blocks for different contents.
                             This template incorporates Bootstrap v3.3.5 responsive.</p>
                    </div>
                </div>
                    <div style="background-color: #FEA501;" class="card">
                        <img src="img/email.svg" alt="">
                        <div class="card-content">
                            <h3>Quick Support</h3>
                            <p>Metro City uses metro style grid layout section blocks for different contents.
                                 This template incorporates Bootstrap v3.3.5 responsive.</p>
                        </div>
                  </div>
            
        </div>
      
    </div>
    </section>

    <article>
        <div class="container">
            <div class="article-wrapper flex">
                <img src="img/compt.jpg" alt="">
                <div class="article-content">
                    <h1>Startup Business</h1>
                    <p>It is a long established fact that a reader will be distracted by th
                        readable content of a page when looking at its layout.
                         The point of using <br/> <br/> Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like 
                         readable English. </p>
                         <button> Learn More</button>
                </div>
            </div>
        </div>
    </article>
      <section>
          <div class="container">
              <div class="heading">
                  <h1>Recent Projects</h1>
                  <p>It is a long established fact that a reader will be distracted by th
                    readable content of a page Lorem Ipsum is that it has</p>
              </div>
              <div class="img-wrapper">
                  <div class="pic flex">
                      <img src="img/pic.jpg" alt="">
                      <img src="img/pic1.jpg" alt="">
                      <img src="img/pic2.jpg" alt="">
                 </div>
                      <div class="images flex">
                          <img src="img/pic3.jpg" alt="">
                          <img src="img/pic4.jpg" alt="">
                          <img src="img/pic5.jpg" alt="">
                          <img src="img/pic6.jpg" alt="">
                      </div>
                  <div class="bu flex justify-content">
              <button>View More</button>
            </div>
          </div>
      </section>
      <footer>
          <div class="container">
          <div class="foot-wrapper flex">
              <div style="width: 30%;" class="foot-left">
                  <h1>NETEL</h1>
                  <p>It is a long established fact that a reader will be distracted by th
                    readable content of a page when looking at its layout.</p>
                    <div class="logo-wrap ">
                        <div class="logo">
                        <img src="img/phone (1).svg" alt="">
                        <span class="  items-align">010-040-938</span>
                    </div>
                    <div class="logo">
                        <img src="img/email.svg" alt="">
                        <span>info@company.com</span>
                    </div>
                    <div class="logo">
                        <img  src="img/user-icon.svg" alt="">
                        <span>www.company.com</span>
                    </div>
                    </div>
              </div>
              <div style="width: 33%;" class="middle">
                  <h1>Useful Links</h1>
                  <p>HTML5 Template</p>
                  <p>Tricks</p> 
                  <p>Design Blog</p>
                  <p>Animation</p>
              </div>
              <div style="width: 33%;" class="right">
                  <h1>Newsletter</h1>
                  <p>It is a long established fact that a reader will be distracted</p>
                  <form>
                      <div class="form">
                      <input type="text" placeholder="Enter your email" >
                    </div>
                  </form>
                  <button><span>Submit</span></button>
              </div>
          </div>
          
        </div>
      </footer>
      <div class="last-wrapper ">
        
      <div class="container flex ">
        <div class="copy">
            <p>Copyright @2084 Compant Name</p>
        </div>
        <div class="last-right flex">
            <a href="#"><img  src="img/facebook (2).svg" alt=""></a>
            <a href="#"> <img  src="img/instagram (1).svg" alt=""></a>
                <a href="#"> <img  src="img/twitter (2).svg" alt=""></a>
                    <a href="#"><img  src="img/google.svg" alt=""></a>

        </div>
      </div>
    </div>
</body>
</html>